<br>
<br>
<p id="notice"><%= notice %></p>

<div class="title"><h1>Sessions</h1></div>
<button class="button button-outline"><%= link_to 'New Session', new_session_path %></button>
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Mentor</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
    <% this_mentor = Mentor.find(session.mentor_id) %>
      <tr>
        <td><%= session.topic %></td>
        <td><%= this_mentor.mentor_name %></td>
        <td><%= session.start_time %></td>
        <td><%= session.end_time %></td>
        <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
