<%= form_with(model: mentor) do |form| %>
  <% if mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
        <% mentor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mentor_name %>
    <%= form.text_field :mentor_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
