<!DOCTYPE html>
<html>
  <head>
        <title>Cedula</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="warpper">
      <% if !flash[:alert].nil? %>
        <p class="my_alert"><%= flash[:alert] %></p>
      <% end %>
      <nav class="navigation">
        <section class="container">
          <div class="navigation-item float-left"><h1><%= link_to 'Cedula', sessions_path %></h1></div>
          <ul class="navigation-list float-right">
            <li class="navigation-item"><%= link_to 'Mentors', mentors_path %></li>
            <li class="navigation-item"><%= link_to 'Participants', participants_path %></li>
          </ul>
        </section>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
